<div class="photo-card">
  <img src="" alt="" />

  <div class="stats">
    <p class="stats-item">
      <i class="material-icons">thumb_up</i>
      {{thumb}}
    </p>
    <p class="stats-item">
      <i class="material-icons">visibility</i>
      {{visibility}}
    </p>
    <p class="stats-item">
      <i class="material-icons">comment</i>
      {{comment}}
    </p>
    <p class="stats-item">
      <i class="material-icons">cloud_download</i>
      {{cloudDownload}}
    </p>
  </div>
</div>